.navbar{
    display: flex;
    border: 16px;
    justify-content: space-between;
    border-bottom: 1px solid #E5E8EB;
    padding: 12px 40px;
}
.logotype{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}
.header-navigation{
    display: flex;
    align-items: center;
}
.header-list-navigation{
    display: flex;
    padding: 0px;
    font-size: 14px;
    gap: 36px;
}
.header-list-navigation li a{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0px;
}
.header-navigation button{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-left: 36px;
    border-radius: 8px;
    border: none;
}

.logo-link{
    display: flex;
    align-items: center;
}
.logo-link img{
    height: 16px;
    width: 16px;
    margin-right: 16px;
}
